<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="utf-8" />
    <title>ACME Product Management</title>
    <script src="js/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/products/productListCtrl.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="toast.css" rel="stylesheet" media="screen">
</head>
<body ng-app="productManagement">
    <div class="panel panel-primary ">
        <div class="panel-heading " style="font-size:large">Product List</div>
        <div class="panel-body">
            <table class="table" ng-controller="ProductListCtrl as vm">
                <thead>
                    <tr>
                        <td><button class="btn btn-primary" type="button" ng-click="vm.toggleImage()">{{vm.showImage ?"Hide " : "Show "}} Image</button></td>
                        <td>Product</td>
                        <td>Code</td>
                        <td>Available</td>
                        <td>Price</td>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products">

                        <td><img ng-if="vm.showImage" style="width:50px;margin:2px" ng-src="{{product.imageUrl}}" alt="{{product.productName}}" /></td>
                        <td>{{product.productName;}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency}}</td>
                    </tr>
                </tbody>
            </table>
            

            
            
        </div>
        </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="Scripts/toastr.js"></script>
</body>
</html>

